@import url('https://fonts.googleapis.com/css?family=Exo+2');

.navbar-custom {
    height: 10%;  
    margin: 0 auto;
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
}
@media (min-width: 768px) {
    .navbar-custom.affix {
        background-color: #222222;
        padding: 0% 0;
        height: 5%;
    }
    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar-header > a, span  {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: white !important;
}
.navbar-header > a:hover, span:hover {
    color: #fed136 !important;
}

.navbar-collapse > ul > li > a {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: white !important;
}
.navbar-collapse > ul > li > a:hover{
    color: #fed136 !important;
}

header {
    height: 95%;
    background-image: url('../Imgs/ProjetoTech.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: white;
}
.QuemSomosTitulo {
    margin-top: 10%;
}

.QuemSomosTitulo > h2 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;    
    color: rgb(10, 10, 10) !important;
}

.Projetos > h2 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;    
    color: rgb(10, 10, 10) !important;
    margin-top: 50px;
}

.Portifolio > h2 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;    
    color: rgb(10, 10, 10) !important;
}

.LinhaQuemSomos > li{
    list-style: none;
}

.img-circle {
    border-radius: 50%;
}

.ImgLadoDireito {
    float: right;
}

.TextoLadoEsquerdo {
    float: left;
}

.ImgTechKids {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.imgAtireinogatoto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.imgStoleneggs{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.imgPignauta{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}