@import url('https://fonts.googleapis.com/css?family=Exo+2');

body {
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar-custom {
    height: 10%;  
    margin: 0 auto;
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
}
@media (min-width: 768px) {
    .navbar-custom.affix {
        background-color: #222222;
        padding: 0% 0;
        height: 5%;
    }
    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar-header > a, span  {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: white !important;
}
.navbar-header > a:hover, span:hover {
    color: #fed136 !important;
}

.navbar-collapse > ul > li > a {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: white !important;
}
.navbar-collapse > ul > li > a:hover{
    color: #fed136 !important;
}

header {
    height: 95%;
    background-image: url('../Imgs/ProjetoTech.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: white;
}

#QuemSomos {
    margin-top: 10%;
}

.QuemSomosTitulo {
    margin-top: 10%;
    margin-bottom: 10%;
}

.QuemSomosTitulo > h2 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;    
    color: rgb(10, 10, 10) !important;
}

.Painel > li{
    list-style: none;
}

@media (max-width: 768px) {
    .Painel > li{
        margin-bottom: 50px;
        position: relative;
        min-height: 50px;
    }
}

.Painel-Img {
    margin-top: 2%;
    position: absolute;
    z-index: 100;
    color: white;
    border-radius: 100%;
    border: 7px solid #f1f1f1;
    text-align: center;
    left: 46%;
}

.Painel-Img > img {
    height: 150px;
    width: 150px;
}

@media (max-width: 768px) { 
    .Painel-Img {
        left: 0;
        margin-left: -9%;
        position: absolute;
        z-index: 100;
        color: white;
        border-radius: 100%;
        text-align: center;
    }

    .Painel-Img > img {
        width: 110px;
        height: 110px;
    }
}

.Painel > li > div.Painel-Text {
    padding: 0 20px 20px 100px;
    font-size: 14px;
    width: 41%;
    float: left;
    text-align: right;
}

@media (max-width: 768px) {
    .Painel > li > div.Painel-Text {
        width: 100%;
        float: right;
        padding: 0 20px 0 100px;
        position: relative;
        text-align: left;
    }
}
